@model whatTheHack2.Models.LoginViewModel
@{
    Layout = "~/Views/Layout/Exterior/Main.cshtml";
}



<div class="row" style="margin:30px 0 0 0;">


    <div class="col-md-6 col-md-offset-3" style="">
        <div class="content" id="loginForm">
            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
            <form class="login-form" action="@Url.Action("login","account")" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <h3 class="form-title">Login</h3>

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Username or Email" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>


                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "password" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>


                <div class="form-actions">
                    <label class="checkbox" style="font-size:13px;">
                        <span style="margin:0 0px 0 28px;">
                            @Html.CheckBoxFor(m => m.RememberMe)
                        </span>
                        <span>
                            Remember me
                        </span>
                    </label>

                    <button class="btn green-haze pull-right" type="submit">
                        Login
                    </button>

                </div>


            </form>

        </div>
    </div>

</div>